@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color: white;
}

 .left{
    width: 25vw;
    padding: 5px;
 }
 .right{
    width: 75vw;
    margin: 10px 0;
    position: relative;
 }

.home ul li{
    width: 15px;
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 15px;
    font-weight: bold;
 }



 .heading{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 23px 14px;
    padding-top: 15px;
    font-size: 13px;
    font-weight: bold
    
 }
 .library{
    min-height: 69vh;
    position: relative;
 }
 .heading img{
    width: 30px;
 }

 .footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 15px 0;
 }
 .footer a{
    color: grey;
 }

 .arrow{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #ffffff;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .arrow:hover{
    width: 35px;
    height: 35px;
 }
 .nav{
    display: flex;
 }


 .hamburger{
    padding-top: 5px;
    padding-right: 10px;
    width: 30px;
    display: none;
}

 .arrow img{
    width: 20px;
    
 }
 .header{
    display: flex;
    justify-content: space-between;
 }
 .header > *{
    padding: 7px;
 }

 .spotifyPlaylist{
    padding: 16px;
    background-image: linear-gradient(180deg,#1e1e1e,#121212);
    height: 75vh;
 }

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
    overflow-y: auto;
    max-height: 60vh;
}

.card{
    width: 145px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 2s;
}

.card > *{
    padding-top: 5px;
    font-size: 12px;

}

.card img{
    width: 100%;
    object-fit: contain;
}
.play img{
    width: 15px
}
.play{
    width: 30px;
    height: 30px;
    background-color: #1fdf64;
    border-radius: 50%;
    border: 2px solid #000;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #000;
    position: absolute;
    top: 112px;
    right: 15px;
    opacity: var(--a);
    transition: all .8s ease-out;
    
}

.card:hover{
    background-color: #797979;
    cursor: pointer;
    --a : 1;
}

.signupBtn{
    background-color: #121212;
    color: #b3b3b3;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 30px;
    
}
.signupBtn:hover{
    font-size: 16.5px;
    color: white;
}

.loginBtn{
    background-color: white;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 40px;
    margin-right: 10px;
}

.playBar{
    position: fixed;
    bottom: 25px;
    width: 70vw;
    padding: 12px;
    background-color: #333;
    border-radius: 19px;  
    min-height: 28px;
}

.seekbar{
    background-color: white;
    height: 2px;
    width: 68.3vw;
    margin-left: 8px;
    border: 2px solid black;
    position: absolute;
    bottom: 5px;
    border-radius: 12px;
    cursor: pointer;
}

.circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    background-color: rgb(255, 255, 255);
    bottom: 5px;
    left: 0%;
    transition: left .1s;
}

.playBar img{
    filter: invert(1);
}

.songbutton img{
    /* margin-top: 5px; */
    width: 22px;
    height: 22px;
    cursor: pointer;;
}
.songbutton{
    width: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    /* padding-right: 7px; */
}
.abovebar{
    display: flex;
   justify-content:space-between;
   padding: 0 12px;
}
.songList{
    height: 48vh;
    overflow: auto;
    margin-bottom: 20px;
}


.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px;
    padding: 13px;
    border-radius: 8px;
}

.playnow{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}
.playnow span{
    font-size: 12px;
    width: 200px;
}
.songinfo{
    /* padding: 0 12px; */
    width: 350px;
}
.songList .info{
    font-size: 10px;
    width: 350px;
    padding-top: 2px;
}
.close{
    display: none;
}


@media (max-width: 1200px){
    .left{
        padding: 0;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        left: -100%;
        transition: all 1s;
        z-index: 1;
        width: 300px;
    }

    .close{
        position: absolute;
        width: 30px;
        right: 20px;
        top: 20px;
        cursor: pointer;
        display: block;
    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .playBar{
        width: calc(100vw - 60px);
        bottom: 55px;
    }

    .seekbar{
        width: calc(100vw - 80px);
    }
    
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .songList{
        height: 68.7vh;
    }


    .songtime {
        width: 0;
    }

    .songbutton img{
        width: 35px;
        height: 35px;
    }
   
    
    .library{
        min-height: 30vh;
        position: relative;
    } 
    
    .spotifyPlaylist{
        height: 89.2vh;
    }
    
    .cardContainer{
        height: calc(100vh-10000px);
    }

    .abovebar{
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column;
    }

    .songinfo,.songbutton,.songtime{
        width: auto;
    }

    .songbutton{
        margin-left: 112px;
    }
 
    @media(max-width:416px) {
        .cardContainer{
            width: 352px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}